.cardItem {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  border-top: 1px solid rgb(226, 226, 233);
  border-bottom: 1px solid rgb(226, 226, 233);
  padding: 5px;
  margin: 20px auto;
}

.cardItem__link {
  display: flex;
  align-content: center;
  text-decoration: none;
}

.cardItem__img {
  width: 80px;
}

.cardItem__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  margin-left: 15px;
}

.cardItem__name {
  color: var(--main);
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 16px;
}

.cardItem__description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  color: var(--grey-6b);
  font-size: 14px;
  margin-right: 20px;
}

.cardItem__price {
  font-weight: 600;
  color: var(--main);
  margin-left: auto;
}

.cardItem__delete {
  color: var(--main);
  margin-left: auto;
  width: 20px;
  cursor: pointer;
}

.cardItem__delete:hover {
  color: var(--blue);
}


@media (max-width: 768px) {
  .cardItem {
    flex-direction: column
  }

  .cardItem__price {
    margin: 0;
  }
}
