.checkoutPage {

}

.checkoutPage__content {
	display: flex;
	align-items: flex-start;
	max-width: 800px;
	width: 100%;
	justify-content: space-between;
	margin: 0 auto;
	padding-top: 40px;
}

.checkoutPage__title {

}

.checkoutPage__form {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-right: 20px;
}

.checkoutPage__errors {
	display: flex;
	flex-direction: column;
	color: var(--red);
	font-size: 13px;
	padding: 5px;
}

.checkoutPage__errors span {
	margin-bottom: 3px;
}

.checkoutPage__form .checkoutPage__input {
	margin: 10px;
}
